<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'" />
    <title>About Image Reader</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <div class="about">
        <p>ImageReader App</p>
        <p>Version 1.0.0</p>
        <p>&copy All Rights Reserved</p>
    </div>
</body>
</html>